<!DOCTYPE html>
%html
  %head
    %meta{'name' => "viewport", 'content' => "width=device-width, initial-scale=1.0"}
    %title

      - if @page_title.nil?
        - @page_title = request.path_info[1..-1].capitalize

      = @page_title
      \-
      = settings.project_name

    %script{:type => "text/javascript", :src  => 'http://www.google.com/jsapi'}

    :javascript
      google.load("jquery", "1.7.1");

    %link{"rel" => "stylesheet", "href" => "http://fonts.googleapis.com/css?family=Raleway:400", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap/css/bootstrap.min.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap-hacks.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap/css/bootstrap-responsive.min.css", "type" => "text/css"}
    %script{:type => "text/javascript", :src  => "/bootstrap/js/bootstrap.min.js"}

    %link{"rel" => "stylesheet", "href" => "/FortAwesome-Font-Awesome-16b6298/css/font-awesome.min.css", "type" => "text/css"}

  %body
    = haml :analytics

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class =>'btn btn-navbar', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span{:class => 'icon-bar'}
            %span{:class => 'icon-bar'}
            %span{:class => 'icon-bar'}

          %a{:class=> 'brand', :href=> '/'}
            = settings.project_name
          .nav-collapse.collapse
            %ul.nav
              %li{:class=>'active'}
                %a{:href=>'#'} Home
              %li
                %a{:href=>'#'} About
              %li
                %a{:href=>'#'} Contact

            .pull-right
              - if logged_in?
                %a{:href => "/settings", :value => "Settings", :class => 'btn btn-warning'}
                  Settings
                  %i(class='loginbox-icon icon-cog icon-large')
                %a{:href => "/logout", :value => "Logout", :class => 'btn btn-danger'}
                  Logout
                  %i(class='loginbox-icon icon-unlock icon-large')
              - else
                - if request.path_info != '/signup'
                  %a{:href => "/signup", :value => "Join, it's free!", :class => 'btn btn-success'}
                    Sign up, it's free!
                    %i(class='loginbox-icon icon-bolt icon-large')
                - if request.path_info != '/login'
                  %a{:href => "/login", :value => "Login", :class => 'btn btn-info'}
                    Login
                    %i(class='loginbox-icon icon-lock icon-large')
    .container
      .content
        .page-header
          %h1
            = @page_title
        .row
          .span10
            =yield
