<!DOCTYPE html>
%html
  %head
    %title

      - if @page_title.nil?
        - @page_title = request.path_info[1..-1].capitalize

      = @page_title
      = settings.project_name

    %script{:type => "text/javascript", :src  => "http://use.edgefonts.net/quantico.js"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap/css/bootstrap.min.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap-hacks.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/FortAwesome-Font-Awesome-16b6298/css/font-awesome.min.css", "type" => "text/css"}

  %body

    - if flash[:notice]
      #sinatra_authentication_flash= flash[:notice]
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class=>'brand', :href=>'#'}
            = settings.project_name
          %ul{:class=>'nav'}
            %li{:class=>'active'}
              %a{:href=>'#'} Home
            %li
              %a{:href=>'#'} About
            %li
              %a{:href=>'#'} Contact

    .container
      .content
        .page-header
          %h1
            = @page_title
        .row
          .span10
            =yield
