<!DOCTYPE html>
%html
  %head
    %title
      = @page_title + ' - ' unless @page_title.nil?
      = settings.project_name
 
    %link{"rel" => "stylesheet", "href" => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap-hacks.css", "type" => "text/css"}
  %body

    - if flash[:notice]
      #sinatra_authentication_flash= flash[:notice]
    .topbar
      .fill
        .container
          %a{:class=>'brand', :href=>'#'}
            = settings.project_name
          %ul{:class=>'nav'}
            %li{:class=>'active'}
              %a{:href=>'#'} Home
            %li
              %a{:href=>'#'} About
            %li
              %a{:href=>'#'} Contact
  
    .container
      .content
        .page-header
          %h1
            = @page_title unless @page_title.nil?
        .row
          .span10
            =yield
